#harry{
    width:300px;
     height:209px;  
}

#bandaelrecodo{
    width:10px;
    height: 10px;   
}
#ink{
    width:300px;
}
#dementor{
    width:200px;
}
body{
    font-family: "arial";
    color:white;
    background-color: black;
    text-align: center;
}
.spells{ 
    height: 900px;    
}
#pennywise{
    width:90px;
}
#favoritefood{}
#arielcamacho{ 
width:500px;
height: 250px;   }
#sf{
width:500px;
height:250px;}